{% extends 'base.html'%}
{% block title %}
PlantScanID
{% endblock %}

{% block content %}
<section class="max-w-screen-xl flex items-center justify-center mx-auto p-4">
    <div class="flex flex-col md:flex-row items-center justify-center xl:justify-start">
        <div class="md:ml-16 mb-12 md:mb-0 text-center xl:text-left w-full md:w-1/2 flex flex-col items-center justify-center">
            <h1 class="font-semibold text-3xl md:text-3xl lg:text-4xl text-red-700 leading-normal mb-2 mt-20">Tanaman Anda Terkena Penyakit {{pred_output}}</h1>
            <h3 class="font-normal text-2xl text-gray-900 leading-relaxed mb-9"><strong>Penyakit Bercak Bakteri pada Tomat</strong></h3>
        </div>
        <div class="w-full md:w-1/2 mt-28 pr-14">
            <img src="{{ url_for('static', filename='user_uploaded/' + user_image) }}" alt="Home img" class="rounded-3xl mx-auto md:ml-0">
        </div>
    </div>
</section>

<section class="max-w-screen-xl flex items-center mx-auto pl-4 pb-4">
        <div class="flex-grow block max-w-screen-xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Deskripsi</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
                Kudis apel mengganggu bagian tanaman yang terdapat di atas tanah. Gejala awal terdapat pada daun, 
                bunga, dan buah. Bercak berkembang pada daun hingga daun menjadi berubah bentuk. Tepi pada daun umumnya 
                tampak melepuh dan bersisik dengan batas tepi antara jaringan daun yang sehat dan sakit terlihat jelas. 
                Beberapa buah terinfeksi rusak hingga jatuh dari rantingnya sebelum buah matang. 
            </p>
        </div>
</section>

<section class="max-w-screen-xl flex items-center mx-auto pl-4 pb-4">
        <div class="flex-grow block max-w-screen-xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Tindakan Pencegahan</h5>
            <ul class="font-normal text-gray-700 dark:text-gray-400 list-disc pl-6">
                <li>Memantau periode penyiraman dan menghindari sistem penyiraman di atas pohon</li>
                <li>Menyemprot pohon apel dengan larutan tembaga sulfat, berdasarkan perhitungan 1 liter air - 3-5 g tembaga sulfat</li>
            </ul>
        </div>
</section>

<section class="max-w-screen-xl flex items-center mx-auto pl-4 pb-4 ">
    <div class="flex-grow block max-w-screen-xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Pengobatan:</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">
            Penyakit ini tidak bisa disembuhkan karena sangat serius dan riskan. Untuk mengatasi penyakit yang menyebar,
             segera Membersihkan serasah daun dari pangkal pohon yang sebelumnya terinfeksi
        </p>
    </div>
</section>

{% endblock %}