{% extends 'base.html'%}
{% block title %}
PlantScanID
{% endblock %}

{% block content %}
<section class="max-w-screen-xl flex items-center justify-center mx-auto p-4">
    <div class="flex flex-col md:flex-row items-center justify-center xl:justify-start">
        <div class="md:ml-16 mb-12 md:mb-0 text-center xl:text-left w-full md:w-1/2 flex flex-col items-center justify-center">
            <h1 class="font-semibold text-3xl md:text-3xl lg:text-4xl text-red-700 leading-normal mb-2 mt-20">Tanaman Anda Terkena Penyakit {{pred_output}}</h1>
            <h3 class="font-normal text-2xl text-gray-900 leading-relaxed mb-9"><strong>Penyakit Bercak Kering pada Tomat</strong></h3>
        </div>
        <div class="w-full md:w-1/2 mt-28 pr-14">
            <img src="{{ url_for('static', filename='user_uploaded/' + user_image) }}" alt="Home img" class="rounded-3xl mx-auto md:ml-0">
        </div>
    </div>
</section>

<section class="max-w-screen-xl flex items-center mx-auto pl-4 pb-4">
        <div class="flex-grow block max-w-screen-xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Deskripsi</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
                Bercak kering tomat merupakan penyakit jamur yang disebabkan oleh Alternaria 
                solani. Penyakit ini dapat berkembang kapanpun pada musim pertumbuhan. Suhu dan
                kelembaban tinggi berpotensi membuatnya menyebar lebih cepat. Gejalanya awalnya 
                berupa munculnya bercak kecoklatan pada daun di bagian bawah. Penyakit ini biasanya
                menyebar dari bawah ke atas tanaman. Saat bercak ini membesar, daerah sekitarnya berubah 
                menjadi kekuningan dan tanaman akan kehilangan banyak daun. Bercak ini bisa menyebar hingga 
                ke buah, berawal dari tangkai dan secara perlahan membentuk bercak konsentris. 
            </p>
        </div>
</section>

<section class="max-w-screen-xl flex items-center mx-auto pl-4 pb-4">
        <div class="flex-grow block max-w-screen-xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Tindakan Pencegahan</h5>
            <ul class="font-normal text-gray-700 dark:text-gray-400 list-disc pl-6">
                <li>Merotasi tanaman dua hingga tiga tahun dengan tanaman non-inang</li>
                <li>Singkirkan gulma dan tanaman terinfeksi dan hancurkan secara langsung, jangan disimpan</li>
                <li>Menjaga tanaman tetap kering</li>
            </ul>
        </div>
</section>

<section class="max-w-screen-xl flex items-center mx-auto pl-4 pb-4 ">
    <div class="flex-grow block max-w-screen-xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Pengobatan:</h5>
            <ul class="font-normal text-gray-700 dark:text-gray-400 list-disc pl-6">
                <li>Menggunakan Bonide Copper Fungicide Dust</li>
                <li>Menggunakan Biofungicide Serenade</li>
                <li>Menggunakan Bonide Mancozeb Flowable with Zinc Concentrate</li>
            </ul>
    </div>
</section>

{% endblock %}
