{% extends 'base.html'%}
{% block title %}
PlantScanID
{% endblock %}

{% block content %}
<section class="max-w-screen-xl flex items-center justify-center mx-auto p-4">
    <div class="flex flex-col md:flex-row items-center justify-center xl:justify-start">
        <div class="md:ml-16 mb-12 md:mb-0 text-center xl:text-left w-full md:w-1/2 flex flex-col items-center justify-center">
            <h1 class="font-semibold text-3xl md:text-3xl lg:text-4xl text-red-700 leading-normal mb-2 mt-20">Tanaman Anda Terkena Penyakit {{pred_output}}</h1>
            <h3 class="font-normal text-2xl text-gray-900 leading-relaxed mb-9"><strong>Penyakit Bercak Daun pada Tomat</strong></h3>
        </div>
        <div class="w-full md:w-1/2 mt-28 pr-14">
            <img src="{{ url_for('static', filename='user_uploaded/' + user_image) }}" alt="Home img" class="rounded-3xl mx-auto md:ml-0">
        </div>
    </div>
</section>

<section class="max-w-screen-xl flex items-center mx-auto pl-4 pb-4">
        <div class="flex-grow block max-w-screen-xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Deskripsi</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
                Bercak daun pada tomat disebabkan oleh jamur Mycovellosiella fulva. Kelembaban 
                udara dan daun di atas 85% serta suhu antara 4 hingga 34 derajat Celcius dalam waktu 
                yang lama mendukung perkecambahan spora.Gejala tampak di kedua sisi daun, dimana daun
                yang lebih tua akan terinfeksi terlebih dahulu. Pada sisi atas daun, muncul bercak-bercak
                kecil berwarna hijau pucat/kekuningan yang secara perlahan meluas. Di bagian bawah, bercak hijau 
                zaitun keabu abuan dan beludru berkembang di bawah daun. Ketika bercak membesar, warna daun berubah
                menjadi coklat, menggulung, dan mengering. Daun akan rontok sebelum waktunya. Bunga berubah menjadi
                hitam dan mati sebelum buah terbentuk.
            </p>
        </div>
</section>

<section class="max-w-screen-xl flex items-center mx-auto pl-4 pb-4">
        <div class="flex-grow block max-w-screen-xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Tindakan Pencegahan</h5>
            <ul class="font-normal text-gray-700 dark:text-gray-400 list-disc pl-6">
                <li>Menyesuaikan jarak tanam untuk meningkatkan sirkulasi udara.</li>
                <li>Menghindari pemupukan nitrogen berlebihan.</li>
                <li>Menyediakan sirkulasi udara di rumah kaca.</li>
                <li>Menjaga kelembaban di bawah 85%.</li>
                <li>Menggunakan irigasi tetes dan menghindari penyiraman daun.</li>
                <li>Membuang dan membakar puing tanaman setelah panen.</li>
            </ul>
        </div>
</section>

<section class="max-w-screen-xl flex items-center mx-auto pl-4 pb-4 ">
    <div class="flex-grow block max-w-screen-xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Pengobatan:</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">
            Menggunakan formulasi Chlorothalonil, Maneb, Mancozeb, dan tembaga. 
                Untuk rumah kaca, menggunakan Difenoconazole, Mandipropamid, Cymoxanil, Famoxadone, dan Cyprodinil.
        </p>
    </div>
</section>

{% endblock %}
