{% extends 'base.html'%}
{% block title %}
PlantScanID
{% endblock %}

{% block content %}
<section class="max-w-screen-xl flex items-center justify-center mx-auto p-4">
    <div class="flex flex-col md:flex-row items-center justify-center xl:justify-start">
        <div class="md:ml-16 mb-12 md:mb-0 text-center xl:text-left w-full md:w-1/2 flex flex-col items-center justify-center">
            <h1 class="font-semibold text-3xl md:text-3xl lg:text-4xl text-red-700 leading-normal mb-2 mt-20">Tanaman Anda Terkena Penyakit {{pred_output}}</h1>
            <h3 class="font-normal text-2xl text-gray-900 leading-relaxed mb-9"><strong>Penyakit Bercak Daun Septoria pada Tomat</strong></h3>
        </div>
        <div class="w-full md:w-1/2 mt-28 pr-14">
            <img src="{{ url_for('static', filename='user_uploaded/' + user_image) }}" alt="Home img" class="rounded-3xl mx-auto md:ml-0">
        </div>
    </div>
</section>

<section class="max-w-screen-xl flex items-center mx-auto pl-4 pb-4">
        <div class="flex-grow block max-w-screen-xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Deskripsi</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
                Bercak Daun Septoria disebabkan oleh jamur Septoria lycopersici.
                Jamur berkembang biak pada suhu antara 15 hingga 27 derajat Celcius.Gejala menyebar dari 
                daun tertua ke daun termuda. Bintik-bintik kecil kelabu berair dengan tepian berwarna 
                coklat tua muncul di bagian bawah daun yang lebih tua. Pada tahap selanjutnya, bintik
                tersebut membesar dan menyatu, dan muncul titik hitam di pusatnya. Daun yang terinfeksi akan
                menjadi kuning, layu, dan rontok. Perontokan daun menyebabkan buah terpapar dan terbakar matahari.
            </p>
        </div>
</section>

<section class="max-w-screen-xl flex items-center mx-auto pl-4 pb-4">
        <div class="flex-grow block max-w-screen-xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Tindakan Pencegahan</h5>
            <ul class="font-normal text-gray-700 dark:text-gray-400 list-disc pl-6">
                <li>Memusnahkan daun yang terinfeksi</li>
                <li>Menggunakan mulsa organik atau plastik untuk menghindari penularan lewat tanah</li>
                <li>Meningkatkan sirkulasi udara dan menggunakan ajir tanaman</li>
                <li>Memastikan lahan bebas dari gulma</li>
                <li>Tidak menggunakan penyemprot air</li>
                <li>Membuang dan memusnahkan sisa-sisa tanaman</li>
                <li>Rotasi tanaman</li>
            </ul>
        </div>
</section>

<section class="max-w-screen-xl flex items-center mx-auto pl-4 pb-4 ">
    <div class="flex-grow block max-w-screen-xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Pengobatan:</h5>
            <li>Menggunakan fungisida berbahan dasar tembaga, seperti Bordeaux, tembaga hidroksida, tembaga sulfat, atau tembaga oksiklorida sulfat. Terapkan dari 7 hingga 10 hari sepanjang akhir musim.</li>
            <li>Menggunakan fungisida yang mengandung maneb, mankozeb, klorotalonil. Terapkan dari 7 hingga 10 hari sepanjang akhir musim</li>
    </div>
</section>

{% endblock %}

